doctype
html
	head
		title= SimplySuggest
		link(rel='stylesheet', href='/stylesheets/styles.css')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/javascripts/libs/jquery.js")
		script(src="/javascripts/libs/jqueryColorAnimation.js")
		script(src="/javascripts/libs/jqueryShadowAnimation.js")
		script(src="/javascripts/core.js")
		script(src="/javascripts/libs/QTransform.js")
		
		
	body
		div(id="header") Simply
			span(id="header-part2") Suggest
			img(src="/images/loader.gif" id = "loader-img")
		block content